{% trans_default_domain 'AppBundle' %}
{% block subject %}
{% autoescape false %}
{{ 'email.resetting_password.message'|trans({'%email%': email, '%url%': url}) }}
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
