{% trans_default_domain 'AppBundle' %}
{% block body_text %}{% autoescape false %}{{ 'email.resetting_password.subject'|trans({'%email%': email, '%url%': url}) }}{% endautoescape %}{% endblock %}{% block body_html %}{% endblock %}