{% trans_default_domain 'AppBundle' %}
{% block body_text %}{% autoescape false %}{{ 'email.registration_welcome.subject'|trans({'%email%': email, '%url%': url}) }}{% endautoescape %}{% endblock %}{% block body_html %}{% endblock %}